<manifest xmlns:android="http://schemas.android.com/apk/res/android">
 <uses-permission android:name="android.permission.USE_BIOMETRIC" />
 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28" />

 <queries>
  <package android:name="com.whatsapp" />
  <package android:name="com.whatsapp.w4b" />
 </queries>

 <application android:name=".WhatsThatApp" android:label="WhatsThat" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher" android:allowBackup="false" android:fullBackupContent="false" android:theme="@android:style/Theme.Material.Light.NoActionBar">

  <activity android:name=".MessageDetailActivity" android:exported="false" />
  <activity android:name=".ConversationActivity" android:exported="false" />
  <activity android:name=".SettingsActivity" android:exported="false" />
  <activity android:name=".StatusSaverActivity" android:exported="false" />
  <activity android:name=".SavedStatusesActivity" android:exported="false" />
  <activity android:name=".StatusPreviewActivity" android:exported="false" />
  <activity android:name=".HiddenRulesActivity" android:exported="false" />
  <activity android:name=".LockActivity" android:exported="false" />

  <activity android:name=".MainActivity" android:exported="true">
   <intent-filter>
    <action android:name="android.intent.action.MAIN"/>
    <category android:name="android.intent.category.LAUNCHER"/>
   </intent-filter>
  </activity>

  <service android:name=".WhatsNotificationService" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" android:exported="true">
   <intent-filter>
    <action android:name="android.service.notification.NotificationListenerService"/>
   </intent-filter>
  </service>

 </application>
</manifest>
